@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

ul,
li,
a {
  text-decoration: none !important;
  list-style: none !important;
  color: #000;
}

body {
  font-family: "Noto Sans KR", sans-serif !important;
  font-weight: 400;
  line-height: 1.5;
  color: #111;
}

button {
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: #12313300;
  box-sizing: border-box;
  margin: 0em;
  padding: 1px 6px;
  border-style: none;
  font-size: 15px;
}

.topbtn {
  position: absolute;
  width: 50px;
  height: 23px;
  left: 1757px;
  top: 47px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 23px;
  text-align: center;
}

.topbtn > img {
  position: absolute;
  width: 34px;
  height: 34px;
  left: 60px;
  top: 0px;
}

header > .wrap {
  display: flex;
}

header > .wrap > h1 {
  width: 281px;
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 67px;
  text-align: center;
  letter-spacing: -0.1em;
}

header > .wrap > ul {
  align-items: center;
  display: flex;
}

header > .wrap > ul > li {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;
  /* identical to box height */
  text-align: center;
  margin-right: 75px;
}

header > .wrap > ul > li :hover {
  text-shadow: #c4c4c4 1px 0 10px;
}

.section1 .big-logo {
  left: 30vw;
}

.sec {
  background: #f7f5fa;
}

.compare-board-header-section {
  display: flex;
  background: #fff;
}

.compare-board-header-section .left-box {
  margin-left: 8%;
  background: #fff;
  padding: 5% 8%;
  width: 40%;
  position: relative;
}

.right-box {
  width: 47%;
  height: 51vh;
  background-image: url("../icons/board_img.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.compare-board-header .compare-board-title {
  font-size: 4.5em;
  font-weight: 600;
  letter-spacing: -3px;
  color: #2d1a46;
  line-height: 1.3em;
}

.compare-board-header-section .compare-board-desc {
  padding-top: 2vh;
  font-size: 1.2em;
  font-weight: 300;
  letter-spacing: -0.5px;
  color: #7e66a0;
  line-height: 1.3em;
  max-width: 25vw;
}

.compare-board-header-section img {
}

/* content.css */
.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.table-block {
  margin: 2% 12%;
  background-color: #fff;
  padding: 3.2% 8%;
  border-radius: 25px;
  box-shadow: 0 0 14px rgba(99, 99, 99, 0.247);
}

.table-header {
  font-size: 1.3em;
  font-weight: 500;

  letter-spacing: -1px;
  line-height: 6em;
  padding-bottom: 2%;
}

.table-header span {
  padding-right: 10%;
}

.table-header span#header-contest {
  padding-right: 25%;
}

.table-item {
  padding-bottom: 4%;
  line-height: 4em;
}

.table-item span {
  font-size: 1.1em;
  padding-right: 6%;
  vertical-align: middle;
  color: rgb(63, 63, 63);
}

.table-item span#table-item-span-1 {
  font-weight: 500;
}

.content {
  margin-top: 86px;
  width: 100%;
  max-width: 1200px;
}

.content-title > span {
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 48px;
  text-align: center;
}

.brand-list-index {
  width: 100%;
  height: 7vh;
  position: relative;
}

.brand-list-index > span {
  font-size: 14px;
  line-height: 19px;
}
.brand-list-index > span:first-child {
  position: absolute;
  right: 165px;
  top: 25px;
}
.brand-list-index > span:last-child {
  position: absolute;
  right: 65px;
  top: 25px;
}
.brand-btn-bar > .brand-btn-zone {
  display: flex;
  align-items: center;
  justify-items: center;
}

.brand-btn-bar > .brand-btn-zone > .brand-btn {
  width: 20vw;
  height: 90px;
  border-radius: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(196, 196, 196, 0.34);
  margin-right: 5vw;
}

.brand-btn-bar > .brand-btn-zone > .brand-btn:hover {
  box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.15);
}

.brand-btn-bar > .brand-btn-zone > .brand-btn:last-child {
  margin-right: 0px !important;
}

.brand-list {
}

.brand-list > .list-box {
  padding: 25px;
  display: flex;
  align-items: center;
}

.brand-list > .list-box:hover {
  box-shadow: 0px 8px 8px rgba(244, 244, 244, 0.15);
  background: rgba(244, 244, 244, 0.1);
}

.rank {
  width: 44px;
  height: 44px;
  margin-right: 20px;
  text-align: center;
  line-height: 44px;
}

.gold {
  border-radius: 24px;
  background: #ffbc38;
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.15);
  color: #111;
}

.silver {
  border-radius: 24px;
  background: #cccccc;
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.15);
  color: #111;
}

.bronze {
  border-radius: 24px;
  background: #dbad82;
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.15);
  color: #111;
}

.list-box > .contest-img,
.contest-info,
.contest-time,
.contest-rank {
  margin-right: 38px;
}

.contest-info {
  width: 220px;
}
.contest-rank {
  width: 40px;
}

.contest-name {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.5;
}
.list-line {
  height: 1px;
  width: 100%;
  max-width: 900px;
  background: #e2e2e2;
}

.img-icon {
  width: 90px;
  height: 90px;
  border-radius: 4px;
}

.body4 {
  background: #f7f5fa;
}
