<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
  <title>GONGDAL</title>
  <link rel="stylesheet" type="text/css" href="../statics/stylesheets/style.css" />
  <link rel="stylesheet" type="text/css" href="../statics/stylesheets/page1.css" />
  <link rel="stylesheet" type="text/css" href="../statics/stylesheets/page4.css" />
  <link rel="stylesheet" type="text/css" href="../statics/stylesheets/page5.css" />
</head>

<body>
  <header>
    <a href="#" class="logo"></a>
    <ul>
      <li><a href="page1.html" target="" title="">HOME</a></li>
      <li><a href="page4.html" target="" title="">CONTEST</a></li>
      <li><a href="page2.html" target="" title="">SCHEDULE</a></li>
      <li><a href="page5.html" class="active" target="" title="">PORTFOLIO</a></li>
    </ul>
  </header>
  <div class="section1">
    <div class="wave" id="wave1" style="--i: 1"></div>
    <div class="wave" id="wave2" style="--i: 2"></div>
    <div class="wave" id="wave3" style="--i: 3"></div>
    <div class="wave" id="wave4" style="--i: 4"></div>
  </div>

  <div class="compare-board-header-section">
    <div class="left-box">
      <div class="compare-board-header">
        <div class="compare-board-title">Portfolio</div>
        <p class="compare-board-desc">Look at the priorities of your contests!<br>Look at the priorities by comparing
          the duration and time spent preparing for the contests.</p>
        <p class="compare-board-desc"></p>

      </div>

    </div>

    <div class="right-box">
      <div class="profile">
        <div class="right-left-box">
          <img class="profile-img" src="../statics/icons/user-img.png" />
        </div>

        <div class="right-right-box">
          <div class="user-name">USER</div>
          <div class="user-bio" id="user-show">
            Hi ! Welcome to my Gong.
            Web Developer -
            Ewha University. Enter a description of yourself here. It is helpful to write down your skills and career.
          </div>
          <textarea class="user-bio" id="user-bio" style="display: none;">
          </textarea>
          <div class="create-btn" onclick="editbio();">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            <span id="editbtn">EDIT MY BIO</span>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="sec" id="sec">

    <div class="portfolio">
      <div class="flex-box">
        <span style="margin-right: 10px;">portfolio : 26</span>
        <div class="sort-selectbox">
          RECENT
          <img src="../statics/icons/dropdown.png" />
        </div>
      </div>
      <div class="portfolio">
        <div class="flex-box">
          <span style="margin-right: 10px;">portfolio : 26</span>
          <div class="sort-selectbox">
            RECENT
            <img src="../statics/icons/dropdown.png" />
          </div>
        </div>
        <div class="portfolio-line" style="margin-top:40px;"></div>
        <div class="portfolio-box" id="p1">
          <div class="portfolio-rank">
            <img src="../statics/icons/rank1.png" />
          </div>
          <div class="portfolio-img">
            <img src="../statics/icons/contest1.png" />
          </div>
          <div class="portfolio-info">
            <div class="button-zone">
              <div class="info-title">
                Everyway Monthly Web Novel Contest June Star Web Novel Contest
              </div>
              <img src="../statics/icons/remove.png" class="icon-20" onclick="deleteElement('p1');" />
              <img src="../statics/icons/share1.png" class="icon-20" onclick="shareElement();" />
            </div>
            <div class="info-detail">
              Ministry of Science and ICT<br>
              21.05.12 - 21.06.06
            </div>
            <div class="info-detail">
              MEMBER :<br>
              Sunwoo Kim Ohjoo Hyun HyeonJin Kim
            </div>
          </div>
        </div>
        <div class="portfolio-line"></div>
        <div class="portfolio-box" id="p2">
          <div class="portfolio-rank">
            <img src="../statics/icons/rank2.png" />
          </div>
          <div class="portfolio-img">
            <img src="../statics/icons/contest2.png" />
          </div>
          <div class="portfolio-info">
            <div class="button-zone">
              <div class="info-title">
                2021 Online Jeongok Ryan Fashion Week
              </div>
              <img src="../statics/icons/remove.png" class="icon-20" onclick="deleteElement('p2');" />
              <img src="../statics/icons/share1.png" class="icon-20" onclick="shareElement();" />
            </div>
            <div class="info-detail">
              Ministry of Science and ICT<br>
              21.05.12 - 21.06.06
            </div>
            <div class="info-detail">
              MEMBER :<br>
              Sunwoo Kim Ohjoo Hyun HyeonJin Kim
            </div>
          </div>
        </div>
        <div class="portfolio-line"></div>
        <div class="portfolio-box" id="p3">
          <div class="portfolio-rank">
            <img src="../statics/icons/rank3.png" />
          </div>
          <div class="portfolio-img">
            <img src="../statics/icons/contest3.png" />
          </div>
          <div class="portfolio-info">
            <div class="button-zone">
              <div class="info-title">
                Rosetta Tech Smart Call Advertising Parody Contest
              </div>
              <img src="../statics/icons/remove.png" class="icon-20" onclick="deleteElement('p3');" />
              <img src="../statics/icons/share1.png" class="icon-20" onclick="shareElement();" />
            </div>
            <div class="info-detail">
              Ministry of Science and ICT<br>
              21.05.12 - 21.06.06
            </div>
            <div class="info-detail">
              MEMBER :<br>
              Sunwoo Kim Ohjoo Hyun HyeonJin Kim
            </div>
          </div>
        </div>
        <div class="portfolio-line"></div>
        <div class="portfolio-box" id="p4">
          <div class="portfolio-rank">
            <img src="../statics/icons/rank1.png" />
          </div>
          <div class="portfolio-img">
            <img src="../statics/icons/contest4.png" />
          </div>
          <div class="portfolio-info">
            <div class="button-zone">
              <div class="info-title">
                The 19th Citizens' Contest, "Let's Protect This."
              </div>
              <img src="../statics/icons/remove.png" class="icon-20" onclick="deleteElement('p4');" />
              <img src="../statics/icons/share1.png" class="icon-20" onclick="shareElement();" />
            </div>
            <div class="info-detail">
              Ministry of Science and ICT<br>
              21.05.12 - 21.06.06
            </div>
            <div class="info-detail">
              MEMBER :<br>
              Sunwoo Kim Ohjoo Hyun HyeonJin Kim
            </div>
          </div>
        </div>
        <div class="portfolio-line"></div>
        <div class="portfolio-box" id="p5">
          <div class="portfolio-rank">
            <img src="../statics/icons/rank1.png" />
          </div>
          <div class="portfolio-img">
            <img src="../statics/icons/contest5.png" />
          </div>
          <div class="portfolio-info">
            <div class="button-zone">
              <div class="info-title">
                2021 International Relief Activity Writing Contest without Borders
              </div>
              <img src="../statics/icons/remove.png" class="icon-20" onclick="deleteElement('p5');" />
              <img src="../statics/icons/share1.png" class="icon-20" onclick="shareElement();" />
            </div>
            <div class="info-detail">
              Ministry of Science and ICT<br>
              21.05.12 - 21.06.06
            </div>
            <div class="info-detail">
              MEMBER :<br>
              Sunwoo Kim Ohjoo Hyun HyeonJin Kim
            </div>
          </div>
        </div>
        <div class="portfolio-line"></div>
        <div class="portfolio-box" id="p6">
          <div class="portfolio-rank">
            <img src="../statics/icons/rank1.png" />
          </div>
          <div class="portfolio-img">
            <img src="../statics/icons/ictsw창업공모.png" />
          </div>
          <div class="portfolio-info">
            <div class="button-zone">
              <div class="info-title">
                2021 ICT/SW Woman Start-up Competition
              </div>
              <img src="../statics/icons/remove.png" class="icon-20" onclick="deleteElement('p6');" />
              <img src="../statics/icons/share1.png" class="icon-20" onclick="shareElement();" />
            </div>
            <div class="info-detail">
              Ministry of Science and ICT<br>
              21.05.12 - 21.06.06
            </div>
            <div class="info-detail">
              MEMBER :<br>
              Sunwoo Kim Ohjoo Hyun HyeonJin Kim
            </div>
          </div>
        </div>
        <div class="portfolio-line"></div>
      </div>
    </div>
  </div>

  </div>
  </div>
  <div class="body4">
    <footer>
      <div class="container">
        <div class="sect aboutus">
          <h2>About Us</h2>
          <p>
            GONGDAL is a service for time management of contests and contests. GONGDAL not only helps users manage their time efficiently by marking contests and competitions as calendars, but also helps users manage their portfolios by collecting awards. Team number 11 consists of team member Min Eunyoung Kim Sunwoo Kim Hyunjin Ohjoo.
          </p>
          <ul class="sci">
            <li>
              <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
            </li>
          </ul>
        </div>
        <div class="sect quickLinks">
          <h2>Quick Links</h2>
          <ul>
            <li><a href="home.html">HOME</a></li>
            <li><a href="contest.html">CONTEST</a></li>
            <li><a href="schedule.html">SCHEDULE</a></li>
            <li><a href="portfolio.html">PORTFOLIO</a></li>
          </ul>
        </div>
        <div class="sect contact">
          <h2>Contact Info</h2>
          <ul class="info">
            <li>
              <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
              <span>Ewha Womans University<br />
                Ahyeon-dong, Seodaemun-gu, <br />Seoul</span>
            </li>
            <li>
              <span><i class="fa fa-phone" aria-hidden="true"></i></span>
              <p>
                <a href="tel:123456789">+1 234 567 8900</a><br /><a href="tel:123456789">+1 234 567 8900</a>
              </p>
            </li>
            <li>
              <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
              <p><a href="mailto:gongdal@email.com">gongdal@email.com</a></p>
            </li>
          </ul>
        </div>
      </div>
    </footer>

    <script>
      let stars = document.getElementById("stars");
      let moon = document.getElementById("moon");
      let mountains_behind = document.getElementById("mountains_behind");
      let text = document.getElementById("text");
      let btn = document.getElementById("btn");
      let mountains_front = document.getElementById("mountains_front");
      let header = document.querySelector("header");

      window.addEventListener("scroll", function () {
        let value = window.scrollY;
        stars.style.left = value * 0.35 + "px";
        moon.style.top = value * 0.95 + "px";
        mountains_behind.style.top = value * 0.5 + "px";
        mountains_front.style.top = value * 0 + "px";
        text.style.marginRight = value * 2 + "px";
        text.style.marginTop = value * 1 + "px";
        btn.style.marginTop = value * 1 + "px";
        header.style.top = value * 0.5 + "px";
      });
    </script>
</body>

</html>


<script>
  var edit = false;

  function editbio() {
    var obj = document.getElementById("user-bio");
    var bio = document.getElementById("user-show");
    var btn = document.getElementById("editbtn");
    obj.innerText = bio.innerText;
    if (edit == false) {
      edit = true;
      obj.style.display = "block";
      btn.innerHTML = "SAVE MY BIO"
    } else {
      edit = false;
      console.log(obj.innerHTML);
      bio.innerText = obj.value;
      obj.style.display = "none";
      btn.innerHTML = "EDIT MY BIO"
    }
  }

  function deleteElement(id) {
    console.log("dsfjeif");
    var obj = document.getElementById(id);
    if (confirm("해당 포트폴리오를 정말 삭제하시겠습니까?")) {
      obj.style.display = "none";
    }
  }

  function shareElement() {
    alert("클립보드에 포트폴리오 정보가 복사되었습니다. ")
  }
</script>
</body>
