<!DOCTYPE html>
<html>
  <html>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <title>GONGDAL</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../statics/stylesheets/style.css"
    />
    <link
    rel="stylesheet"
    type="text/css"
    href="../statics/stylesheets/page1.css"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="../statics/stylesheets/page4.css"
  />
    <link
    rel="stylesheet"
    type="text/css"
    href="../statics/stylesheets/page6.css"
  />
</head>

  <body>

    <header>
      <a href="#" class="logo"></a>
      <ul>
        <li><a href="page1.html" target="" title="">HOME</a></li>
        <li><a href="page4.html" class = "active" target="" title="">CONTEST</a></li>
        <li><a href="page2.html" target="" title="">SCHEDULE</a></li>
        <li><a href="page5.html" target="" title="">PORTFOLIO</a></li>
      </ul>
    </header>
    <div class="section1">
      <div class="wave" id="wave1" style="--i: 1"></div>
      <div class="wave" id="wave2" style="--i: 2"></div>
      <div class="wave" id="wave3" style="--i: 3"></div>
      <div class="wave" id="wave4" style="--i: 4"></div>
    </div>

    <div class="compare-board-header-section">
      <div class="left-box">
        <div class="compare-board-header">
          <div class="compare-board-title">2021 ICT/SW Women's Entrepreneurship Contest</div>
          <div class="compare-board-desc">

            <p class="compare-board-desc-p" id="p1">Ministry of Science and ICT</p>

          <div class="interest-zone1">
            <span class="heart">
              <i class="fa fa-heart heart" aria-hidden="true"></i>
            <span class="i1">232</span>
            </span>
          <span class="see">
            <i class="fa fa-eye see" aria-hidden="true"></i>
            <span class="i2">129</span>
          </span>
          </div>

          <p class="compare-board-desc-p" id="p1"><i class="fa fa-check-circle-o" aria-hidden="true"></i>Support period
            </p>

            <p class="compare-board-desc-p" id="p2">2021.5.17 (Monday) to 2021.06.04 (Fri) 23:59</p>

            <p class="compare-board-desc-p" id="p1"><i class="fa fa-check-circle-o" aria-hidden="true"></i>Next Short-Form Season 1 Schedule Online site entry
             
             </p>

             <p class="compare-board-desc-p" id="p2">21.06.04</p>

             <p class="compare-board-desc-p" id="p2">Internal deliberation by the host organisation: 21.04 to 21.06.25 (3 weeks)</p>

             <p class="compare-board-desc-p" id="p2">Streaming Release & Viewers' Pick!: 21.06.28 to 21.09.17 (12 Weeks)</p>

             <p class="compare-board-desc-p" id="p2">Next: in Review: 21.09.20 to 21.10.01 (2 weeks)</p>

             <p class="compare-board-desc-p" id="p2">Seasonal Awards Content Announcement: First Week of October.</p>


          </div>
  
            
        </div>
        
      </div>
      <div class="right-box">
        <img src="../statics\icons\여창공poster.jpg" />
      </div>
  </div>


    <div class="sec" id="sec">
      <div class="desc-box">
        <p class="compare-board-desc-p" id="p1"><i class="fa fa-check-circle-o" aria-hidden="true"></i>Support area</p>
        <p class="compare-board-desc-p" id="p2"> 1. Short Film -> 5 to 30 minutes long with ending credits
          
          </p>
        <p class="compare-board-desc-p" id="p2">2. Web entertainment</p>
        <p class="compare-board-desc-p" id="p2">3. Web drama</p>

        <p class="compare-board-desc-p" id="p1"><i class="fa fa-check-circle-o" aria-hidden="true"></i>Individual or team unit for young people aged 19 or older to 39 years old
        </p>
        <p class="compare-board-desc-p" id="p2">- Season 1 prize money total of 10 million won, total of 6 teams
        </p>
        <p class="compare-board-desc-p" id="p2">: Next Creator Team 1 x KRW 3 million = KRW 3 million
        </p>
        <p class="compare-board-desc-p" id="p2">: Next Challenge Team 2 × KRW 2 million = KRW 4 million
        </p>
        <p class="compare-board-desc-p" id="p2">: Next Rookie Team 3 x KRW 1 million = KRW 3 million
        </p>
        <p class="compare-board-desc-p" id="p2">
        </p>
        
        <p class="compare-board-desc-p" id="p1"><i class="fa fa-check-circle-o" aria-hidden="true"></i>Support precautions</p>
        <p class="compare-board-desc-p" id="p2">1. All content can only be submitted online. You can't submit it by e-mail, visit, etc.
        </p>
        <p class="compare-board-desc-p" id="p2">2. Multiple contents can be submitted by the same person. However, you have to support the contents individually.
        </p>
        <p class="compare-board-desc-p" id="p2">3. Online streaming disclosure is mandatory for content that has passed internal review.
        </p>
        <p class="compare-board-desc-p" id="p2">4. In the case of contents using the original work, the contract related to the use of copyright must be finalized.
        </p>
        <p class="compare-board-desc-p" id="p2">5. You can participate in other film festivals and contests with the content you support.</p>

      </div>
      </div>
    </div>

    <div class="body4">
      <footer>
        <div class="container">
          <div class="sect aboutus">
            <h2>About Us</h2>
            <p>
              GONGDAL is a service for time management of contests and contests. 
              GONGDAL not only helps users manage their time efficiently 
              by marking contests and competitions as calendars, but also helps 
              users manage their portfolios by collecting awards. 
              Team number 11 consists of team member Min Eunyoung Kim Sunwoo Kim Hyunjin Ohjoo.
            </p>
            <ul class="sci">
              <li>
                <a href="#"
                  ><i class="fa fa-facebook" aria-hidden="true"></i
                ></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-instagram" aria-hidden="true"></i
                ></a>
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-youtube-play" aria-hidden="true"></i
                ></a>
              </li>
            </ul>
          </div>
          <div class="sect quickLinks">
            <h2>Quick Links</h2>
            <ul>
              <li><a href="home.html">HOME</a></li>
              <li><a href="contest.html">CONTEST</a></li>
              <li><a href="schedule.html">SCHEDULE</a></li>
              <li><a href="portfolio.html">PORTFOLIO</a></li>
            </ul>
          </div>
          <div class="sect contact">
            <h2>Contact Info</h2>
            <ul class="info">
              <li>
                <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                <span
                  >Ewha Womans University<br />
                  Ahyeon-dong, Seodaemun-gu, <br />Seoul</span
                >
              </li>
              <li>
                <span><i class="fa fa-phone" aria-hidden="true"></i></span>
                <p>
                  <a href="tel:123456789">+1 234 567 8900</a><br /><a
                    href="tel:123456789"
                    >+1 234 567 8900</a
                  >
                </p>
              </li>
              <li>
                <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
                <p><a href="mailto:gongdal@email.com">gongdal@email.com</a></p>
              </li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
    <script>
      let stars = document.getElementById("stars");
      let moon = document.getElementById("moon");
      let mountains_behind = document.getElementById("mountains_behind");
      let text = document.getElementById("text");
      let btn = document.getElementById("btn");
      let mountains_front = document.getElementById("mountains_front");
      let header = document.querySelector("header");

      window.addEventListener("scroll", function () {
        let value = window.scrollY;
        stars.style.left = value * 0.35 + "px";
        moon.style.top = value * 0.95 + "px";
        mountains_behind.style.top = value * 0.5 + "px";
        mountains_front.style.top = value * 0 + "px";
        text.style.marginRight = value * 2 + "px";
        text.style.marginTop = value * 1 + "px";
        btn.style.marginTop = value * 1 + "px";
        header.style.top = value * 0.5 + "px";
      });
    </script>
  </body>
</html>
