  <!DOCTYPE html>
    <html>
      <head>
        <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous"
      />
        <title>GONGDAL</title>
        <link rel="stylesheet" type="text/css" href="../statics/stylesheets/style.css" />
        <link rel="stylesheet" type="text/css" href="../statics/stylesheets/home.css" />
        <link rel="stylesheet" type="text/css" href="../statics/stylesheets/schedule.css" />
        <link rel="stylesheet" type="text/css" href="../statics/stylesheets/checklist.css" />
        <!-- <link rel="stylesheet" type="text/css" href="../statics/stylesheets/styleguide.css" /> -->
        <!-- <link rel="stylesheet" type="text/css" href="../statics/stylesheets/globals.css" /> -->
      </head>
    
      <body>
        <header>
          <a href="#" class="logo"></a>
          <ul>
            <li><a href="home.html" target="" title="">HOME</a></li>
            <li><a href="contest.html" target="" title="">CONTEST</a></li>
            <li><a href="schedule.html" class = "active" target="" title="">SCHEDULE</a></li>
            <li><a href="portfolio.html" target="" title="">PORTFOLIO</a></li>
          </ul>
        </header>
        <div class="section1">
          <!-- <img src="../statics/icons/stars.png" id="stars" /> -->
          <div class="wave" id="wave1" style="--i: 1"></div>
          <div class="wave" id="wave2" style="--i: 2"></div>
          <div class="wave" id="wave3" style="--i: 3"></div>
          <div class="wave" id="wave4" style="--i: 4"></div>
        </div>

        <div class="checklist-header-section">
          <div class="left-box">
            <div class="checklist-header">
              <div class="checklist-title">Check </div>
              <div class="checklist-title">List </div>
              <p class="checklist-desc">Look at the priorities of your contests!<br>Look at the priorities by comparing the duration and time spent preparing for the contests.</p>
              <p class="checklist-desc"></p>
              
            </div>
            
          </div>
      </div>

        <div class="sec" id="sec">
          <div class="checklist-box">
              <div class="month-checklist-box">
                <div class="month-checklist-title">
<span>checklist of </span><span id="checklist-span">Period 1</span>
<span><input type="date" class="date" id="date1"><span class="datelist">~</span><input type="date" class="date"></span>
                </div>
                <div class="month-checklist">
                  <div class="checklist-item">
                    <input type="checkbox" class="checkbox">
                    <textarea id="textarea1" row="1" placeholder="Please enter it"></textarea>
                    <textarea id="textarea2" placeholder="Please enter it"></textarea>
                  </div>
                  
                  <div class="checklist-item">
                    <input type="checkbox" class="checkbox">
                    <textarea id="textarea1" row="1" placeholder="Please enter it"></textarea>
                    <textarea id="textarea2" placeholder="Please enter it"></textarea>
                  </div>
                  <div class="checklist-item">
                    <input type="checkbox" class="checkbox">
                    <textarea id="textarea1" row="1" placeholder="Please enter it"></textarea>
                    <textarea id="textarea2" placeholder="Please enter it"></textarea>
                  </div>
                  <div class="checklist-item">
                    <input type="checkbox" class="checkbox">
                    <textarea id="textarea1" row="1" placeholder="Please enter it"></textarea>
                    <textarea id="textarea2" placeholder="Please enter it"></textarea>
                  </div>
                  <div class="checklist-item">
                    <input type="checkbox" class="checkbox">
                    <textarea id="textarea1" row="1" placeholder="Please enter it"></textarea>
                    <textarea id="textarea2" placeholder="Please enter it"></textarea>
                  </div>

                </div>
                
                
              </div>

              <div class="month-checklist-box">
                <div class="month-checklist-title">
<span>checklist of </span><span id="checklist-span">Period 2</span>
<span><input type="date" class="date" id="date1"><span class="datelist">~</span><input type="date" class="date"></span>
                </div>
                <div class="month-checklist">
                  <div class="checklist-item">
                    <input type="checkbox" class="checkbox">
                    <textarea id="textarea1" row="1" placeholder="Please enter it"></textarea>
                    <textarea id="textarea2" placeholder="Please enter it"></textarea>
                  </div>
                  
                  <div class="checklist-item">
                    <input type="checkbox" class="checkbox">
                    <textarea id="textarea1" row="1" placeholder="Please enter it"></textarea>
                    <textarea id="textarea2" placeholder="Please enter it"></textarea>
                  </div>
                  <div class="checklist-item">
                    <input type="checkbox" class="checkbox">
                    <textarea id="textarea1" row="1" placeholder="Please enter it"></textarea>
                    <textarea id="textarea2" placeholder="Please enter it"></textarea>
                  </div>
                  <div class="checklist-item">
                    <input type="checkbox" class="checkbox">
                    <textarea id="textarea1" row="1" placeholder="Please enter it"></textarea>
                    <textarea id="textarea2" placeholder="Please enter it"></textarea>
                  </div>
                  <div class="checklist-item">
                    <input type="checkbox" class="checkbox">
                    <textarea id="textarea1" row="1" placeholder="Please enter it"></textarea>
                    <textarea id="textarea2" placeholder="Please enter it"></textarea>
                  </div>
                  
                </div>
                
                
              </div><div class="month-checklist-box">
                <div class="month-checklist-title">
<span>checklist of </span><span id="checklist-span">Period 3</span>
<span><input type="date" class="date" id="date1"><span class="datelist">~</span><input type="date" class="date"></span>
                </div>
                <div class="month-checklist">
                  <div class="checklist-item">
                    <input type="checkbox" class="checkbox">
                    <textarea id="textarea1" row="1" placeholder="Please enter it"></textarea>
                    <textarea id="textarea2" placeholder="Please enter it"></textarea>
                  </div>
                  
                  <div class="checklist-item">
                    <input type="checkbox" class="checkbox">
                    <textarea id="textarea1" row="1" placeholder="Please enter it"></textarea>
                    <textarea id="textarea2" placeholder="Please enter it"></textarea>
                  </div>
                  <div class="checklist-item">
                    <input type="checkbox" class="checkbox">
                    <textarea id="textarea1" row="1" placeholder="Please enter it"></textarea>
                    <textarea id="textarea2" placeholder="Please enter it"></textarea>
                  </div>
                  <div class="checklist-item">
                    <input type="checkbox" class="checkbox">
                    <textarea id="textarea1" row="1" placeholder="Please enter it"></textarea>
                    <textarea id="textarea2" placeholder="Please enter it"></textarea>
                  </div>
                  <div class="checklist-item">
                    <input type="checkbox" class="checkbox">
                    <textarea id="textarea1" row="1" placeholder="Please enter it"></textarea>
                    <textarea id="textarea2" placeholder="Please enter it"></textarea>
                  </div>
                  
                </div>
                
                
              </div><div class="month-checklist-box">
                <div class="month-checklist-title">
<span>checklist of </span><span id="checklist-span">Period 4</span>
<span><input type="date" class="date" id="date1"><span class="datelist">~</span><input type="date" class="date"></span>
                </div>
                <div class="month-checklist">
                  <div class="checklist-item">
                    <input type="checkbox" class="checkbox">
                    <textarea id="textarea1" row="1" placeholder="Please enter it"></textarea>
                    <textarea id="textarea2" placeholder="Please enter it"></textarea>
                  </div>
                  
                  <div class="checklist-item">
                    <input type="checkbox" class="checkbox">
                    <textarea id="textarea1" row="1" placeholder="Please enter it"></textarea>
                    <textarea id="textarea2" placeholder="Please enter it"></textarea>
                  </div>
                  <div class="checklist-item">
                    <input type="checkbox" class="checkbox">
                    <textarea id="textarea1" row="1" placeholder="Please enter it"></textarea>
                    <textarea id="textarea2" placeholder="Please enter it"></textarea>
                  </div>
                  <div class="checklist-item">
                    <input type="checkbox" class="checkbox">
                    <textarea id="textarea1" row="1" placeholder="Please enter it"></textarea>
                    <textarea id="textarea2" placeholder="Please enter it"></textarea>
                  </div>
                  <div class="checklist-item">
                    <input type="checkbox" class="checkbox">
                    <textarea id="textarea1" row="1" placeholder="Please enter it"></textarea>
                    <textarea id="textarea2" placeholder="Please enter it"></textarea>
                  </div>
                  
                </div>
                
                
              </div>
            
            
          </div>
        </div>

        <!-- <div class="sec" id="sec">
          <div class="navigator" id = "side-bar">
            <div class="user">
              <img class="user_icon" src="../statics/icons/user-img.png">
              <div class="user_text">
                <div class="user_text1">
                  USER #1354<br>
                </div>
                <div class="user_text2">
                  interested in ..
                </div>
              </div>
            </div>
            <div class="sortby">
              <ul class="sortby">MEMBER
                
              </ul>
            </div>
            <div class="sortby" style="margin-left: 15%; font-size: 1.2em; font-weight: 500;">
              HISTORY<br>
              <button type="button" style="margin-top: 11%; "class="date1">
                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="11" cy="11" r="11" fill="#F3F2F5"/>
                  </svg>                            
                  <span>&nbsp&nbsp&nbsp03:45<br />User2 edited schedule</span>
              </button>
              <button type="button" class="date1" >
                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="11" cy="11" r="11" fill="#E1E0E7"/>
                  </svg>              
                  <span>&nbsp&nbsp&nbsp03:45<br />User2 edited schedule</span>
              </button>
              <button type="button" class="date1" >
                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="11" cy="11" r="11" fill="#C7C6D2"/>
                  </svg>              
                  <span>&nbsp&nbsp&nbsp03:45<br />User2 edited schedule</span>
              </button>
              <button type="button" class="date1" >
                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="11" cy="11" r="11" fill="#9897AC"/>
                  </svg>              
                  <span>&nbsp&nbsp&nbsp03:45<br />User2 edited schedule</span>
              </button>
            </div>
          </div>
    <div class="container-center-horizontal">
      <div class="page-3 screen">

        <div class="x3">3</div>
        <div class="number-of-contests notosans-semi-bold-black-18px">Number of Contests</div>
        <div class="edit">EDIT</div>
        <div class="rectangle-52"></div>
        <div class="x18">18</div>
        <div class="needed-time notosans-semi-bold-black-18px">Needed Time</div>
        <div class="h notosans-semi-bold-black-18px">h</div>
        <img class="image-34" src="../statics/icons/image-34@2x.png" />
        <div class="schedule-1">SCHEDULE</div>
        <img class="rectangle-59" src="../statics/icons/rectangle-59@1x.svg" />
        <div class="month1 notosans-semi-bold-white-18px">
          <span class="span0-1 notosans-semi-bold-black-18px">MONTH</span><span class="span1-1">1</span>
        </div>
        <div class="month2 notosans-semi-bold-white-18px">
          <span class="span0-2 notosans-semi-bold-black-18px">MONTH</span><span class="span1-2">2</span>
        </div>
        <div class="month3 notosans-semi-bold-white-18px">
          <span class="span0-3 notosans-semi-bold-black-18px">MONTH</span><span class="span1-3">3</span>
        </div>
        <div class="month4 notosans-semi-bold-white-18px">
          <span class="span0-4 notosans-semi-bold-black-18px">MONTH</span><span class="span1-4">4</span>
        </div>
        <img class="rectangle-56" src="../statics/icons/rectangle-56@1x.svg" />
        <img class="rectangle-57" src="../statics/icons/rectangle-57@1x.svg" />
        <img class="rectangle-58" src="../statics/icons/rectangle-58@1x.svg" />
        <img class="rectangle-42" src="../statics/icons/rectangle-42@1x.svg" />
        <img class="rectangle-43" src="../statics/icons/rectangle-43@1x.svg" />
        <img class="rectangle-44" src="../statics/icons/rectangle-44@1x.svg" />
        <img class="rectangle-45" src="../statics/icons/rectangle-45@2x.svg" />
        <div class="ellipse-16"></div>


        <div class="to-do-list-1 notosans-semi-bold-mine-shaft-15px">TO DO LIST</div>
        <div class="draft-document-pre-exploration-1 notosans-normal-masala-13px">
          Draft Docs<br />pre-exp
        </div>
        <div class="ellipse-1"></div>
        <div class="to-do-list-3 notosans-semi-bold-mine-shaft-15px">TO DO LIST</div>
        <div class="draft-document-pre-exploration-3 notosans-normal-masala-13px">
          Draft Docs<br />pre-exp
        </div>
        <div class="ellipse-2"></div>
        <div class="to-do-list-4 notosans-semi-bold-mine-shaft-15px">TO DO LIST</div>
        <div class="draft-document-pre-exploration-4 notosans-normal-masala-13px">
          Draft Docs<br />pre-exp
        </div>
        <div class="ellipse-3"></div>
        <div class="to-do-list-2 notosans-semi-bold-mine-shaft-15px">TO DO LIST</div>
        <div class="draft-document-pre-exploration-2 notosans-normal-masala-13px">
          Draft Docs<br />pre-exp
        </div>
      
      </div>
    </div>
  </div> -->
</div>
  <div class="body4">
    <footer>
      <div class="container">
        <div class="sect aboutus">
          <h2>About Us</h2>
          <p>
            GONGDAL is a service for time management of contests and contests. GONGDAL not only helps users manage their time efficiently by marking contests and competitions as calendars, but also helps users manage their portfolios by collecting awards. Team number 11 consists of team member Min Eunyoung Kim Sunwoo Kim Hyunjin Ohjoo.
          </p>
          <ul class="sci">
            <li>
              <a href="#"
                ><i class="fa fa-facebook" aria-hidden="true"></i
              ></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#"
                ><i class="fa fa-instagram" aria-hidden="true"></i
              ></a>
            </li>
            <li>
              <a href="#"
                ><i class="fa fa-youtube-play" aria-hidden="true"></i
              ></a>
            </li>
          </ul>
        </div>
        <div class="sect quickLinks">
          <h2>Quick Links</h2>
          <ul>
            <li><a href="home.html">HOME</a></li>
            <li><a href="contest.html">CONTEST</a></li>
            <li><a href="schedule.html">SCHEDULE</a></li>
            <li><a href="portfolio.html">PORTFOLIO</a></li>
          </ul>
        </div>
        <div class="sect contact">
          <h2>Contact Info</h2>
          <ul class="info">
            <li>
              <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
              <span
                >Ewha Womans University<br />
                Ahyeon-dong, Seodaemun-gu, <br />Seoul</span
              >
            </li>
            <li>
              <span><i class="fa fa-phone" aria-hidden="true"></i></span>
              <p>
                <a href="tel:123456789">+1 234 567 8900</a><br /><a
                  href="tel:123456789"
                  >+1 234 567 8900</a
                >
              </p>
            </li>
            <li>
              <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
              <p><a href="mailto:gongdal@email.com">gongdal@email.com</a></p>
            </li>
          </ul>
        </div>
      </div>
    </footer>

  <script>
    

    window.addEventListener("scroll", function () {
        let value = window.scrollY;

        wave1.style.backgroundPositionX = 400 + value * 1.5 + "px";
        wave2.style.backgroundPositionX = 300 + value * -1.5 + "px";
        wave3.style.backgroundPositionX = 200 + value * 0.5 + "px";
        wave4.style.backgroundPositionX = 100 + value * -0.5 + "px";
        
        console.log("dlsfiejf : "+value);
        var side = document.getElementById('side-bar');
        if(value <= 900){
          side.style.display = "block";
        }else{
          side.style.display = "none";
        }
        
      });
  </script>


  </body>
</html>
